.NavBar-container{
    
    background-color: #F8F8F8;
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    
}

.iconRt{
    position: relative;
    left: 28rem;
    margin: .5rem;
}